@{ ViewBag.Title = "Demo 03 - Link"; }

<a href="/Home/Demo01">Demo 01</a>
<a href="https://www.google.com">Google</a>
<a href="/Home/Demo01#BOTTOM">Demo 01 -> BOTTOM</a>
<a href="mailto:hltknhung@gmail.com">Mail cho Nhung BA BA</a>

<hr />
<h1>URL = Uniform Resource Locator</h1>
<ol>
    <li>Domain: http://www.google.com -> Page: index.html/php/aspx -> Controller: Home & Action: Index</li>
    <li>Domain/File: https://www.google.com/index.php </li>
    <li>Domain/Foler: https://www.google.com/drive/ -> WEB_ROOT/DRIVE/index.php </li>
    <li>Domain/Folder/FILE: https://www.google.com/drive/avartar.png -> WEB_ROOT/DRIVE/avatar.png </li>
    <li>Domain#Postion: /Home/Demo01#BOTTOM</li>
    <li>Domain?paramter=value: https://www.google.com?q=abc&la=vn </li>
    <li>Domain/IP:PORT: https://127.0.0.1:8080</li>
</ol>