@{ ViewBag.Title = "Demo 01 - HTMl basic"; }

<a name="TOP"></a>
<h1>This is H1</h1>
<h2>This is H2</h2>
<h3>This is H3</h3>
<h4>This is H4</h4>
<h5>This is H5</h5>
<h6>This is H6</h6>

<hr />

<p align="left">Use Case Points (UCP) is a software estimation technique used to forecast the software size for software development projects. UCP is used when the Unified Modeling Language (UML) and Rational Unified Process (RUP) methodologies are being used for the software design and development. The concept of UCP is based on the requirements for the system being written using use cases, which is part of the UML set of modeling techniques. The software size (UCP) is calculated based on elements of the system use cases with factoring to account for technical and environmental considerations. The UCP for a project can then be used to calculate the estimated effort for a project.</p>
<p align="center">Use Case Points (UCP) is a software estimation technique used to forecast the software size for software development projects. UCP is used when the Unified Modeling Language (UML) and Rational Unified Process (RUP) methodologies are being used for the software design and development. The concept of UCP is based on the requirements for the system being written using use cases, which is part of the UML set of modeling techniques. The software size (UCP) is calculated based on elements of the system use cases with factoring to account for technical and environmental considerations. The UCP for a project can then be used to calculate the estimated effort for a project.</p>
<p align="right">Use Case Points (UCP) is a software estimation technique used to forecast the software size for software development projects. UCP is used when the Unified Modeling Language (UML) and Rational Unified Process (RUP) methodologies are being used for the software design and development. The concept of UCP is based on the requirements for the system being written using use cases, which is part of the UML set of modeling techniques. The software size (UCP) is calculated based on elements of the system use cases with factoring to account for technical and environmental considerations. The UCP for a project can then be used to calculate the estimated effort for a project.</p>
<p align="justify">Use Case Points (UCP) is a software estimation technique used to forecast the software size for software development projects. UCP is used when the Unified Modeling Language (UML) and Rational Unified Process (RUP) methodologies are being used for the software design and development. The concept of UCP is based on the requirements for the system being written using use cases, which is part of the UML set of modeling techniques. The software size (UCP) is calculated based on elements of the system use cases with factoring to account for technical and environmental considerations. The UCP for a project can then be used to calculate the estimated effort for a project.</p>

<hr />
<h1>Un-order list</h1>
<ul>
    <li>Item 01</li>
    <li>Item 02</li>
    <li>Item 03</li>
</ul>
<ul type="square">
    <li>Item 01</li>
    <li>Item 02</li>
    <li>Item 03</li>
</ul>
<ul type="disc">
    <li>Item 01</li>
    <li>Item 02</li>
    <li>Item 03</li>
</ul>

<hr />
<h1>Order list</h1>

<ol>
    <li>Item 01</li>
    <li>Item 02</li>
    <li>Item 03</li>
</ol>

<ol type="I">
    <li>Item 01</li>
    <li>Item 02</li>
    <li>Item 03</li>
</ol>

<ol type="a">
    <li>Item 01</li>
    <li>Item 02</li>
    <li>Item 03</li>
</ol>

<hr />
<h1>Combine</h1>
<ol type="I">
    <li>Item 01
        <ol type="1">
            <li>Item 01</li>
            <li>Item 02
                <ul>
                    <li>Item 01</li>
                    <li>Item 02</li>
                    <li>Item 03</li>
                </ul>
            </li>
            <li>Item 03</li>
        </ol>
    </li>
    <li>Item 02</li>
    <li>Item 03</li>
</ol>
<a href="#TOP">Move to TOP</a>
<a name="BOTTOM">End of page</a>