@{ ViewBag.Title = "Demo 04 - Media"; }

<img src="~/Content/img/university-campus.ico" />

<div background="~/Content/img/bg.jpg">
    <h1>Hello World</h1>
</div>

<video controls>
    <source src="https://www.w3schools.com/tags/movie.mp4" type="video/mp4" />
</video>
<audio autoplay>
    <source src="~/Content/media/Graduation.mp3" type="audio/mp3" />
</audio>