@{ ViewBag.Title = "Demo 05 - HTML FORM"; }

<form name="frmSearch" action="https://www.google.com/search" method="get">
    <span>Keyword: </span>
    <input type="text" name="q" id="idKeyword" required />
    
    <input type="submit" />
</form>

<hr />

<form name="frmLogin" action="https://www.bing.com/search" method="get">
    <div>
        <span>Keyword for BING Search: </span>
        <input type="text" name="q" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>