<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/university-campus.ico" />
</head>
<body>
    @RenderBody()
</body>
</html>
